<!DOCTYPE html>
<html>
	<head>
    <title>Portfolio</title>
 <link href='https://fonts.googleapis.com/css?family=Roboto:100,500,700' rel='stylesheet' type='text/css'>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="pages.css.scss"> 
  </head>
  <body>
   
    <div class="nav">
    	<div class = "collapse navbar-collapse navHeaderCollapse">
      <div class="navbar navbar-default navbar-fixed-top">
      	<div class="container">
       	 <ul class ="nav navbar-nav navbar-right">
           <li>Dapo Thomas</li>
          </ul>

        		
          <ul class ="nav navbar-nav navbar-left">
            <li><a href = "#">Welcome</a></li>
            <li><a href = "#">Portfolio</a></li>
            <li><a href = "#">Blog</a></li>
            <li><a href = "#">About</a></li>
            <li><a href = "#">Contact</a></li>
          </ul>    
        </div>
      </div> 
    </div>
 </div>
   
    <div class="jumbotron">
    	<div class="container">	
            	
        <h1>Hello. My name is <span>Dapo Thomas</span> and i have creative ideas and build websites</h1> 
         
        <div class ="button">
        	<div class="container">
          
            <p><a class="btn-default btn-lg" href="#">View my work</a></p>
          </div>
        </div>
      </div>
   
    </div>
  </body>

</html>